{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Agile Ventures</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="http://showcase.agileventures.org/#services">Why us?</a>
                </li>
                <li>
                    <a class="page-scroll" href="http://showcase.agileventures.org/#portfolio">Case Studies</a>
                </li>
                <li>
                    <a class="page-scroll" href="http://showcase.agileventures.org/#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#bloviations">Bloviations</a>
                </li>
                <li>
                    <a class="page-scroll" href="http://showcase.agileventures.org/#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="http://showcase.agileventures.org/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

    <!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Software solutions for non-profits</div>
          <div class="intro-heading">Websites, mobile, apps, projects</div>
            <a href="http://showcase.agileventures.org/#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>


{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>